<!DOCTYPE html>
<html>
	<head>
	  <title>Войдите</title>
	  <meta charset="utf-8">

	  <link
	    rel="stylesheet"
	    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	    crossorigin="anonymous">
	</head>
	<body>
	  <div class="container">
		  <div class="jumbotron">
		    {% if user.is_authenticated %}
		      <p>Logged as {{ user.username }}</p>
		      <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
		    {% else %}
		      <a class="btn btn-primary" href="{% url 'social:begin' 'vk-oauth2' %}">
		        Login with VK
		      </a>
		    {% endif %}
				<!-- <h5 class="mt-5">Войти как админ</h5>
				{% if form.errors %}
				<p>Ошибка: пароль или логин неправильные. Попробуйте снова</p>
				{% else %}
				<p>введите логин/пароль:</p>
				{% endif %}
				 <form action="." method="POST" class="login">
				 	{{ form.as_p }}
				 	{% csrf_token %}
				 	<input type="hidden" name="next" value="/" />
				 	<button class="btn btn-primary" type="submit">Войти</button>
				 </form> -->
		  </div>
	  </div>
	</body>
</html>