<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>App</title>

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'app/styles.css' %}">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      {% if user.is_authenticated %}
        <p>
        Вы залогинились как: <h5> {{ user.first_name }} {{ user.last_name }}</h5>
        </p>
        <a class="btn btn-primary mt-3" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
          Login
        </a>
      {% endif %}
    </div>
    <div class="row text-center">
      {% for friend in friends %}
      <div class="col-md-2 col-sm-2">
        <!-- <img src="http://localhost:8000/static/app/{{friend.ava}}" %}" alt="Ava" class="avatar">
        <a href="# font-bold">{{friend.name}}</a> -->
        <div class="row">
          <div class="col">
            <img src="{{friend.photo_100}}" alt="avatar" class="avatar">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="https://vk.com/id{{friend.id}}" target="_blank">{{friend.first_name}} {{friend.last_name}}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>